# Database credentials

# These values are used by the Docker Compose file to set up the PostgreSQL container.

#------------------------------INSTRUCTION ------------------------------
# to login to the database, use these credentials:
# 1. Copy the content of this file to a new file named ".env" in the same directory.
# 2. change "LOCALPASSWORD" to ur password for a database named "admin" and save it

DB_USER=admin
DB_PASSWORD=LOCALPASSWORD
DB_NAME=korpochat